/* CSS Grid System */
.grid-con {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.col-span-full {
  grid-column: 1 / -1;
}

.col-span-1 {
  grid-column: span 1;
}

.col-span-2 {
  grid-column: span 2;
}

.col-span-3 {
  grid-column: span 3;
}

.col-span-4 {
  grid-column: span 4;
}

/* Mobile responsive */
@media screen and (max-width: 768px) {
  .grid-con {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    padding: 0 15px;
  }
  
  .col-span-full,
  .col-span-1,
  .col-span-2,
  .col-span-3,
  .col-span-4 {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .grid-con {
    grid-template-columns: repeat(2, 1fr);
  }
}