
$primary-color: #E89B36;       
$secondary-color: #0080c8;      
$background-color: #ffffff;     
$text-color: rgba(0, 0, 0, 0.8); 


$hotspot-bg: #fff;             
$hotspot-border: #0080c8;       
$hotspot-shadow: rgba(0, 0, 0, 0.25); 


$mobile-info-bg: #f5f5f5;     


$progress-bg: rgba(0, 0, 0, 0.5);
$progress-bar: rgba(255, 255, 255, 0.9);
$progress-main: #E89B36;        