@use '../abstracts';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: abstracts.$background-color;
  font-family: abstracts.$body-font-family;
}

h1 {
   font-family: abstracts.$heading-font-family;
   text-align: center;
   font-weight: normal;
   color: abstracts.$text-color;
   margin: 20px 0;
}

h2 {
   font-family: abstracts.$heading-font-family;
   text-align: center;
   font-weight: 500;
   color: abstracts.$text-color;
}

h3 {
   font-family: abstracts.$heading-font-family;
   color: abstracts.$text-color;
   margin: 10px 0;
}

p {
  font-family: abstracts.$body-font-family;
  color: abstracts.$text-color;
  line-height: 1.5;
}

footer {
  background-color: abstracts.$primary-color;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer p {
  margin: 0;
  color: white;
}